

<%= form_for @destination,  url: {action: "create"} do |form| %>
    <p>
        <%= form.label :Destination %>
         <%= form.text_field :name %>
      </p>

      <p>
        <%= form.label :Budget  %>
        <%= form.text_field :budget %>
      </p>
      
      
     
      <p>
        <%= form.submit "Start" , :class => 'btn btn-primary' %>
      </p>
    <% end %>
