<%= form_for @destination, url: {action: "create"} do |form| %>
    <p>
        <%= form.label :Add %>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.label :Add  %>
        <%= form.text_field :budget %>
      </p>
      
      
     
      <p>
        <%= form.submit %>
      </p>
    <% end %>