<div class="container">
<h1> <%= @destination.name %>  </h1>
<h4>Travel Budget: <%= @destination.budget %></h4>
<main id="main">
<table id="tb" class="table table-striped table-dark">
<thead>
<tr>
  <th scope="col">Day</th>
  <th scope="col">things to do</th>
    <th scope="col">Time</th>
</tr>
</thead>
<tbody>
<% @plans.order('day').each do |p| %>
 
  <tr>
  <td><%= p.day %></td>
 <td> <%= p.place %></td>
 <td> <%= p.time %></td>

 <td><%= link_to 'Show', destination_plan_path(p.destination_id,p) %></td>
  <td><%= link_to 'Edit', edit_destination_plan_path(p.destination_id,p) %></td>
 <td><%= link_to 'Destroy', destination_plan_path(p.destination_id,p), method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
  
  <% end %>
  </tbody>
</table>
  


  <%= form_for @plan, url: {action: "create"} do |form| %>
    <p>
      <%= form.label :Day %>
      <%= form.text_field :day %>
    </p>


    <p>
      <%= form.label :Time %>
      <%= form.text_field :time %>
    </p>

    <p>
      <%= form.label :place %>
      <%= form.text_field :place %>

    </p>
 
    <p>
      <%= form.submit %>
    </p>
<% end %>
</main>
</div>