<div class="container">
<h1> <%= @destination.name %>  </h1>
<h4>Travel wallet: <%= @destination.budget %></h4>
<% if @destination.budget.to_i < 0 %>
<p>you spend more than you plan</p>
<% end %>


<main id="main">
<table id="tb" class="table">
<thead>
<tr>
  <th scope="col">Day</th>
  <th scope="col">Date & time</th>
  <th scope="col">Activities</th>
    <th scope="col">Spending</th>  
  

    
</tr>
</thead>
<tbody>
<% @plans.order('date').each do |p| %>
 
  <tr>
  <td> <%= p.day %></td>
  <td><%= p.date %></td>
 <td> <%= p.place %></td>
 <td> <%= p.spending %></td>
 
 

 <td><%= link_to 'Show', destination_plan_path(p.destination_id,p) %></td>
  <td><%= link_to 'Edit', edit_destination_plan_path(p.destination_id,p) %></td>
 <td><%= link_to 'Delete', destination_plan_path(p.destination_id,p), method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
  
  <% end %>
  </tbody>
</table>
  


  <%= form_for @plan, url: {action: "create"} do |form| %>
    
    <p>
    <%= form.label :Day %>
    <%= form.text_field  :day %>
  </p>
    <p>
      <%= form.label :Date %> & Time
      <%= form.datetime_field  :date %>
    </p>


    

    <p>
      <%= form.label :Activity %>
      <%= form.text_field :place %>

    </p>
 
    <p>
      <%= form.submit "Add to itinerary" %>
    </p>
<% end %>
</main>
</div>