



 
<%= form_for @plan, url: {action: "create"} do |form| %>
  <p>
      <%= form.label :Day %>
      <%= form.text_field :day %>
    </p>
    <p>
      <%= form.label :Time %>
      <%= form.text_field :time %>
    </p>
    <p>
      <%= form.label :place %>
      <%= form.text_field :place %>

    </p>
   
    
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
